.social-icon {
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
    color: #b3b3f1;
    border: 1px solid #b3b3f1;
    border-radius: 100%;
    margin-top: 20px;
    padding: 10px;
    height: 60;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: white;
    transform: scale(1.2) translateY(-10px);
    border: 1px solid white;
    background-color: rgb(31, 31, 31);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}